.navbar-brand{
    font-family: Caflisch Script Pro, cursive;

}

.navbar{
    color: black;
}

.jumbotron{
    height: 100vh;
}


.rounded-circle{
  border-radius: 50%;

}

.row-header{
  padding-top: 100px;
}

.headername{
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.mpw{
  font-family: "Caflisch Script Pro", Georgia, monospace;
}

footer{
  height: 200px;
  background-color: #303030;
  text-decoration-color: white;
  padding-bottom: 0px;
}

.bg2 {
    background-color: #EFEFEF;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  left:0;
}

.footer-logo{
  padding-top: 20px;
  text-decoration-color: white;
}

.abouttitle{
  font-family: "Caflisch Script Pro", Georgia, monospace;

}

.inv{
  font-family: "Caflisch Script Pro", Georgia, monospace;
  background-color:black;
  color: white;
  border-radius: 6px;

}

.label{
  font-size: 0.8em;
}
